:root {
  --color1: #010400;
  --color2: #30332e;
  --color3: #fffbfc;
  --color4: #727272;

  --shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.13);
  --radius: 20px;
}

/* MESSENGER STYLES */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* MESSENGE STYLES */
.message {
  margin-block: 1rem;
}
.message-img {
  min-width: clamp(2.2rem, 3vw, 3rem);
  max-width: clamp(2.2rem, 3vw, 3rem);
  min-height: clamp(2.2rem, 3vw, 3rem);
  max-height: clamp(2.2rem, 3vw, 3rem);
  border-radius: 50%;
  align-self: flex-end;
  object-fit: cover;
}
.message-container {
  background-color: var(--color2);
  color: var(--color3);
  padding: 1rem;
  border-radius: var(--radius);
  border-bottom-left-radius: 3px;
  font-size: clamp(0.6rem, 1.4vw, 1rem);
  max-width: 70%;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
.line-one {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.date {
  margin-left: 55px;
  margin-top: 10px;
  font-size: clamp(10px, 2vw, 14px);
}
.own {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 0.5vw;
}
.own > .line-one {
  align-self: flex-end;
  justify-self: flex-end;
  /* background-color: violet; */
  justify-content: flex-end;
  align-items: flex-end;
}
.own > .line-one :nth-child(1) {
  order: 2;
}

.own > .line-one :nth-child(2) {
  order: 1;
}
.own > .line-one > .message-container {
  background-color: var(--color4);
  border-radius: var(--radius);
  border-bottom-right-radius: 3px;
}
.own > .date {
  margin-right: 55px;
}

/* CHAT STYLES */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 58.6px);
  max-height: 100vh;
  padding-inline: 10px;
  flex: 2;
  max-width: 100%;
  z-index: 1000;
  border-right: 0.5px solid var(--color4);
  border-left: 0.5px solid var(--color4);
}
.messages-container {
  overflow-y: auto;
}
.message-creator {
  background-color: #30332e;
  padding: 15px 20px;
  outline: none;
  border: none;
  color: white;
  border-radius: 20px;
  display: flex;
  margin-block: 1rem;
  gap: 1rem;
}
.post-input {
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  align-self: center;
  resize: none;
  overflow: visible;
  color: var(--color3);
  border: 0;
  padding: 0 0.8em;
  min-height: 15px !important;
}
.send-icon {
  font-size: clamp(1.5rem, 2vw, 5rem);
  display: flex;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.empty-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}
/* USER STYLES */
.users-container {
  flex: 0.5;
  overflow-y: auto;
  height: calc(100vh - 58.6px);
  font-size: clamp(0.6rem, 1.4vw, 1rem);
  padding-left: 0.2rem;
  padding-top: 1rem;
  background-color: var(--color2);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.user-image {
  min-width: clamp(1.8rem, 3vw, 3rem);
  max-width: clamp(1.8rem, 3vw, 3rem);
  min-height: clamp(1.8rem, 3vw, 3rem);
  max-height: clamp(1.8rem, 3vw, 3rem);
  align-self: center;
  object-fit: cover;
  border-radius: 50%;
}
.user-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color1);
  border-radius: var(--radius);
  padding: 0.8rem 0.5rem;
  margin: 2rem 0.3rem;
  cursor: pointer;
}
.user-name {
  overflow-wrap: anywhere;
}
.users-container-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-color: var(--color4);
  max-width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.2rem;
}
.users-continer-div {
  width: 100%;
}
.active-container {
  background-color: var(--color4);
}

/* NOTIFICATION STYLES START */
.notification-container {
  position: fixed;
  width: max-content;
  padding: clamp(1em, 2vw, 2em);
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color4);
  z-index: 100;
  backdrop-filter: blur(3px);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  /* color: var(--color1); */
  animation: animate-notification 0.4s ease-in-out;
}
.notification-container::after {
  content: "";
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scale(1.05);
  border-radius: var(--radius);
  filter: blur(10px);
  opacity: 0.5;
}
.notification-container p {
  letter-spacing: 1px;
  font-size: clamp(0.6em, 1.5vw, 1em);
  text-transform: uppercase;
}
/* NOTIFICATION STYLES END */

/* LOGIN STYLES */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: clamp(1rem, 10vw, 10rem);
  padding: 5rem;
}
.login-image {
  width: clamp(10rem, 30vw, 30rem);
  height: clamp(10rem, 30vw, 30rem);
}
.login-fields-container {
  background-color: var(--color2);
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.login-input-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 60%;
}
.login-input {
  background-color: transparent;
  outline: none;
  color: var(--color1);
  border-radius: var(--radius);
  border: 2px solid var(--color4);
  color: var(--color3);
  min-width: 100%;
  font-size: clamp(0.7rem, 1.4vw, 1.1rem);
  padding: 0.4em 0.8em;
}
.login-input::placeholder {
  color: var(--color3);
  opacity: 0.5;
}
.login-btn {
  color: var(--color3);
  font-weight: bold;
  font-size: clamp(0.7em, 1.6vw, 1em);
  background-color: transparent;
  text-transform: uppercase;
  padding: 1em 3em;
  box-shadow: 0 0 0 2pt var(--color4);
  border: none;
  border-radius: var(--radius);
  position: relative;
  z-index: 3;
  transition: box-shadow 300ms ease;
  overflow: hidden;
  cursor: pointer;
}

.login-btn::before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 300ms ease;
  background-color: var(--color4);
}
.login-btn:hover {
  box-shadow: none;
}
.login-btn:hover::before {
  opacity: 1;
}
.login-btn-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.login-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0 1em;
  font-size: clamp(0.7em, 1.6vw, 1em);
  text-align: center;
}
.btn {
  background-color: var(--color4);
  border: 1px solid var(--color4);
  border-radius: var(--radius);
  color: var(--color3);
  padding: 0.3em 1.5em;
  font-size: clamp(1em, 2vw, 1em);
  cursor: pointer;
}

/* NAVBAR STYLE */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color2);
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  padding-inline: 1.5rem;
  padding-block: 1.8rem;
  border-bottom: var(--color4) 1px solid;
}
nav {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  padding-left: 1rem;
  display: flex;
}
.authenticated {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link:visited {
  color: var(--color3);
}

.link {
  color: var(--color3);
  font-weight: bolder;
  text-decoration: none;
}

.nav-item {
  display: inline-block;
  padding-inline: 1em;
  padding-block: 0.8em;
  background-color: transparent;
  border-radius: var(--radius);
  box-shadow: 0 0 0 2pt var(--color4);
  font-size: clamp(0.7em, 1.6vw, 0.8em);
  position: relative;
  z-index: 3;
  letter-spacing: 1px;
  overflow: hidden;
  transition: box-shadow 300ms ease;
}
.nav-item::before {
  content: "";
  position: absolute;
  opacity: 0;
  background-color: var(--color4);
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 300ms ease;
}
.nav-item:hover {
  box-shadow: none;
}
.nav-item:hover::before {
  opacity: 1;
}

.logo {
  max-width: clamp(1.6rem, 10vw, 3rem);
  display: flex;
}
/* NAVBAR STYLE END */

@media screen and (max-width: 550px) {
  .login-image-container {
    display: none;
  }
  .login-container {
    padding: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }
  .container :nth-child(1) {
    order: 1;
  }
  .container :nth-child(2) {
    order: 3;
  }
  .container :nth-child(3) {
    order: 2;
  }
  .chat-container {
    border: none;
    flex: none;
    max-height: calc(100vh - 185px);
  }
  .users-container {
    display: flex;
    gap: 2rem;
    padding-inline: 1rem;
    padding-top: 0;
    border-bottom: var(--color4) 1px solid;
    min-height: 50px;
    flex-direction: row;
  }
  .users-continer-div {
    display: flex;
  }
  .user-container {
    margin-block: 0.4em;
    padding: 0.6em 2em;
    min-width: fit-content;
  }

  .user-name {
    overflow-wrap: normal;
  }
  .chat-container {
    margin-top: 1rem;
  }
}

@keyframes animate-notification {
  0% {
    top: -100px;
    /* transform: translate(0, 1000px); */
  }
  100% {
    top: 2em;
    /* transform: translate(0, 0px); */
  }
}
