.chat-container {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  padding-inline: 10px;
  flex: 2;
  max-width: 100%;
  background-color: teal;
  z-index: 1000;
  overflow-y: auto;
}
.message-creator {
  position: fixed;
  bottom: 10px;
  background-color: #30332e;
  padding: 20px;
  outline: none;
  border: none;
  color: white;
  border-radius: 20px;
}
