.chat-container {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  padding-inline: 10px;
  flex: 2;
}
.message-creator {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #30332e;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
}
